

/* #Link to page
================================================== */

.logo {
	position: absolute;
	bottom: 30px;
	right: 30px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
  filter: brightness(10%);
	transition: all 250ms linear;
}
body.dark .logo img {
  filter: brightness(100%);
}


/* #Link to page
================================================== */

.logo {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: block;
  z-index: 100;
  transition: all 250ms linear;
  }
  .logo img {
  height: 26px;
  width: auto;
  display: block;
  filter: brightness(10%);
  transition: all 250ms linear;
  }
  body.dark .logo img {
  filter: brightness(100%);
  }
  /* Navbar container */
  .navbar {
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.11);
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #132845;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(51, 51, 51, 0.11);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(230, 230, 230, 0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color:#1328459d;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  } 

  /* css for table */

/*	
	Side Navigation Menu V2, RWD
	===================
	Author: https://github.com/pablorgarcia
 */

 
 @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
 
 body {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 300;
   line-height: 1.42em;
   color:#A7A1AE;
   background-color:#1F2739;
 }
 
 h1 {
   font-size:3em; 
   font-weight: 300;
   line-height:0em;
   text-align: center;
   color: #4DC3FA;
 }
 
 h2 {
    font-family: Arial, Helvetica, sans-serif;
   font-size:1em; 
   font-weight: 300;
   text-align: center;
   display: block;
   line-height:1em;
   padding-bottom: 2em;
   color: #FB667A;
 }
 
 h2 a {
   font-weight: 700;
   text-transform: uppercase;
   color: #FB667A;
   text-decoration: none;
 }
 
 .blue { color: #185875; }
 .yellow { color: #FFF842; }
 
 .container th h1 {
   font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
     font-size: 1em;
   text-align: left;
   color: white;
 }
 
 .container td {
    font-family: Arial, Helvetica, sans-serif;
     font-weight: normal;
     font-size: 1.0em;
     color: #ddd;
   -webkit-box-shadow: 0 2px 2px -2px #0E1119;
      -moz-box-shadow: 0 2px 2px -2px #0E1119;
           box-shadow: 0 2px 2px -2px #0E1119;
 }
 
 .container {
     text-align: left;
     overflow: hidden;
     width: 80%;
     margin: 0 auto;
   display: table;
   padding: 0 0 8em 0;
 }
 
 .container td, .container th {
     padding-bottom: 2%;
     padding-top: 2%;
      padding-left:2%;  
 }
 
 /* Background-color of the odd rows */
 .container tr:nth-child(odd) {
     background-color: #13284599;
 }
 
 /* Background-color of the even rows */
 .container tr:nth-child(even) {
     background-color: #13284512;
 }
 
 .container th {
     background-color: #4B80F2;
 }
 
 .container td:first-child { color: white; font-weight: bolder;}
 
 .container tr:hover {
    background-color: #464a528c;
 -webkit-box-shadow: 0 6px 6px -6px #0E1119;
      -moz-box-shadow: 0 6px 6px -6px #0E1119;
           box-shadow: 0 6px 6px -6px #0E1119;
 }
 
 .container td:hover {
    background-color: #0dd78e;
   color: #403E10;
   font-weight: bold;
   
   box-shadow: #17835b -1px 1px, #17835b -2px 2px, #17835b -3px 3px, #17835b -4px 4px, #17835b -5px 5px, #17835b -6px 6px;
   transform: translate3d(6px, -6px, 0);
   
   transition-delay: 0s;
     transition-duration: 0.4s;
     transition-property: all;
   transition-timing-function: line;
 }
 
 @media (max-width: 800px) {
 .container td:nth-child(4),
 .container th:nth-child(4) { display: none; }
 }