/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar{

    background-color:black !important ;
  }
  
  ::-webkit-scrollbar-thumb{
    background: #0dd78dc0;
    border-radius: 10px;
  }