<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css">
</head>

    <div class="navbar">
        <a href="#" routerLink = "../smallScaleHome">Home</a>
        <a href="#" routerLink = "../requestForm">RequestForm</a>
        <a href="#" routerLink = "../smallScaleMarket">Market</a>
        <a href="#" routerLink = "../smallScaleCart">Cart</a>
        <a href="#" style="float: right;">Logout</a>
     </div>
    
    
    <!-- page -->
    <div class="wrapper">
      <div class="payment">
        <div class="payment-logo">
          <p>p</p>
        </div>
        
        
        <h2>Payment Gateway</h2>
        <div class="form">
          <div class="card space icon-relative">
            <label class="label">Card holder's name:</label>
            <input type="text" class="input" placeholder="Card Holder Name" required >
            <i class="fas fa-user"></i>
          </div>
          <div class="card space icon-relative">
            <label class="label">Card number:</label>
            <input type="text" class="input" data-mask="0000 0000 0000 0000" placeholder="Card Number" required>
            <i class="far fa-credit-card"></i>
          </div>
          <div class="card-grp space">
            <div class="card-item icon-relative">
              <label class="label">Expiry date:</label>
              <input type="text" name="expiry-data" class="input"  placeholder="00 / 00" required>
              <i class="far fa-calendar-alt"></i>
            </div>
            <div class="card-item icon-relative">
              <label class="label">CVV:</label>
              <input type="password" class="input" data-mask="000" placeholder="000" required>
              <i class="fas fa-lock"></i>
            </div>
          </div>
            
          <div class="btn" (click) = 'paymentComplete()'>
           Payment
          </div> 
        </div>
      </div>
    </div>
