<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css'>
</head>
<div>
  <video autoplay  loop id="myVideo">
  <source src="assets/images/homeved.mp4" type="video/mp4">
  </video>
  <div id="body"> 
    <div class="navbar">
      <a href="#">Home</a>
      <div class="dropdown">
        <button class="dropbtn">Corporate
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a routerLink = "../corporateRegister">CorporateRegister</a>
          <a routerLink = "../corporateLogin">CorporateLogin</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">SmallScale
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a routerLink = "../smallScaleRegister">SmallScaleRegister</a>
          <a routerLink = "../smallScaleLogin">SmallScaleLogin</a>
        </div>
      </div>
    </div>
    <div id ="saveo" class="container"><img src="assets/images/logosaveo.png"></div>
      <p id="tagline">"Be there at the right time"</p>
    </div>
    <!-- <div id = "aboutContainer"class="row">
      <div style = "background-color:#13284560 ; margin-left : 50px; padding : 2%;"class="six columns">
        <h1 id="about">About Us : </h1>
      </div>
      <div style = " margin-left : px; padding: 1%; padding-bottom: 24px; padding-left: 20px; text-align: justify; " class="five columns">
        <p>We connect Small scale hospitals to the Corporate hospitals for facilitating organ and blood donors.
          This makes it possible for the poor and rural communities to be treated in Small scale hospitals 
          that are accessible and affordable, with the lifesaving resources being available at the right time 
          by virtue of this software.</p>
      </div>
    </div> -->
</div>
