<div class="navbar">
    <a href="#">Home</a>
    <a href="#" routerLink = "../requestForm">RequestForm</a>
    <a href="#">Market</a>
 
    
    <!-- <div class="dropdown">
      <button class="dropbtn">Corporate
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink = "../corporateRegister">CorporateRegister</a>
        <a routerLink = "../corporateLogin">CorporateLogin</a>
      </div>
	</div>
	<div class="dropdown">
		<button class="dropbtn">SmallScale
		  <i class="fa fa-caret-down"></i>
		</button>
		<div class="dropdown-content">
		  <a routerLink = "../smallScaleRegister">SmallScaleRegister</a>
		  <a routerLink = "../smallScaleLogin">SmallScaleLogin</a>
		</div>
	  </div> -->
  </div>

  <h1>{{smallScaleName}}</h1>